<a href="https://colab.research.google.com/github/caioitalo/soulcode/blob/main/Pr%C3%A1tica_Dados_ALESP_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **IMPORTAÇÃO DO BD**

In [1]:
!pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.13.4-py3-none-any.whl (122 kB)
     |████████████████████████████████| 122 kB 5.4 MB/s
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.10.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pandera) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.13.4 typing-inspect-0.8.0

In [2]:
import pandas as pd
import pandera as pa

In [3]:
df = pd.read_csv('https://storage.googleapis.com/datalake-soulcode-ed7/arquivos%20soulcode/despesa_alesp.csv')
dfbackup = df.copy()
pd.set_option('display.max_rows', 50)

# Pré-tratamento

In [ ]:
df

,Ano,Matricula,Mes,Valor,CNPJ,Tipo,Fornecedor
0,2013,300098,1,575.53,5.049700e+11,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA
1,2013,300098,1,1650.76,4.881450e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,S.D.LUIZARI & CIA. LTDA.
2,2013,300098,1,1799.29,6.586291e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO EXECUTIVO LTDA
3,2013,300098,1,36.40,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO
4,2013,300098,1,3100.00,9.904660e+11,"D - MATERIAIS E SERVIÇOS GRÁFICOS, DE CÓPIAS ...",CROMOGRAF GRAFICA DE PRESIDENTE PRUDENTE LTDA ...
...,...,...,...,...,...,...,...
118412,2022,300655,9,1250.00,1.531481e+13,K - LOCAÇÃO DE BENS MÓVEIS,FYIVAS SOLUÇÕES EM TECNOLOGIA LTDA ME
118413,2022,300655,9,2500.00,6.729494e+10,L - LOCAÇÃO DE BENS IMÓVEIS,MARIA INES SINISGALLI
118414,2022,300655,9,599.29,4.639213e+13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",SECRETARIA MUNICIPAL DA FAZENDA
118415,2022,300655,9,1836.13,6.106391e+13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",CONDOMINIO EDIF IBIRAPUERA PLAZA CENTER
118416,2022,300655,9,2835.90,2.491558e+12,O - LOCAÇÃO DE VEÍCULO,UNIDAS VEÍCULOS ESPECIAIS S.A.

In [4]:
# renomeando as colunas para tudo minúsculo
df.rename(columns={'Ano':'ano','Matricula':'matricula','Mes':'mes','Valor':'valor','CNPJ':'cnpj','Tipo':'tipo', 'Fornecedor':'fornecedor'},inplace=True)

In [ ]:
# olhando os tipos para ver as inconsistências
sorted(pd.unique(df['tipo']))

['A - COMBUSTÍVEIS E LUBRIFICANTES',
 'C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE VEÍCULOS ; PEDÁGIOS',
 'D - MATERIAIS E SERVIÇOS GRÁFICOS, DE CÓPIAS  E REPRODUÇÃO DE DOCS',
 'E - MATERIAIS DE ESCRITÓRIO E OUTROS MATERIAIS DE CONSUMO',
 'F - SERVIÇOS TÉCNICOS PROFISSIONAIS (CONSULTORIA, PESQUISAS ETC)',
 'G - ASSINATURAS DE PERIÓDICOS, PUBLICAÇÕES, INTERNET E SOFTWARES',
 'H - SERV.UTIL.PÚBLICA (TELEF.MÓVEL/FIXA, ENERGIA, ÁGUA, GÁS ETC)',
 'I - HOSPEDAGEM, ALIMENTAÇÃO E DESPESAS DE LOCOMOÇÃO',
 'J - SERVIÇOS DE COMUNICAÇÃO',
 'K - LOCAÇÃO DE BENS MÓVEIS',
 'L - LOCAÇÃO DE BENS IMÓVEIS',
 'M - MANUTENÇÃO DE BENS MÓVEIS,  IMÓVEIS, CONDOMÍNIOS E OUTROS',
 'N - MORADIA',
 'O - LOCAÇÃO DE VEÍCULO',
 'P - DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR']

In [ ]:
df.isna().sum()

ano              0
matricula        0
mes              0
valor            0
cnpj          1854
tipo             0
fornecedor       0
dtype: int64

# TRATAMENTO BÁSICO DA BD

In [ ]:
# pegando somente as linhas com o tipo do pedágio // ainda a checar como fazer

Empty DataFrame
Columns: [ano, matricula, mes, valor, cnpj, tipo, fornecedor]
Index: []

In [ ]:
sorted(pd.unique(df['fornecedor']))

In [7]:
# exemplo de tratamento de dados com pedágio
df.replace(['CUPONS DE PEDÁGIO','PEDAGIO','PEDAGIO DE ELISIARIO','PEDÁGIOS','PEGAGIO'],'PEDAGIO',inplace=True)

In [ ]:
df.dtypes

ano             int64
matricula       int64
mes             int64
valor         float64
cnpj          float64
tipo           object
fornecedor     object
dtype: object

In [8]:
# Criando um schema de validação de dados
schema = pa.DataFrameSchema(
  columns={
    'ano':pa.Column(pa.Int),
    'matricula':pa.Column(pa.Int),
    'mes':pa.Column(pa.Int),
    'valor':pa.Column(pa.Float),
    'cnpj':pa.Column(pa.Float,nullable=True),
    'tipo':pa.Column(pa.String),
    'fornecedor':pa.Column(pa.String),
    }
)

In [9]:
# validando o DF
schema.validate(df)

,ano,matricula,mes,valor,cnpj,tipo,fornecedor
0,2013,300098,1,575.53,5.049700e+11,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO VANUTRE LTDA
1,2013,300098,1,1650.76,4.881450e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,S.D.LUIZARI & CIA. LTDA.
2,2013,300098,1,1799.29,6.586291e+13,A - COMBUSTÍVEIS E LUBRIFICANTES,AUTO POSTO EXECUTIVO LTDA
3,2013,300098,1,36.40,NaN,C - MATERIAIS E SERVIÇOS DE MANUT E CONSERV DE...,PEDÁGIO
4,2013,300098,1,3100.00,9.904660e+11,"D - MATERIAIS E SERVIÇOS GRÁFICOS, DE CÓPIAS ...",CROMOGRAF GRAFICA DE PRESIDENTE PRUDENTE LTDA ...
...,...,...,...,...,...,...,...
118412,2022,300655,9,1250.00,1.531481e+13,K - LOCAÇÃO DE BENS MÓVEIS,FYIVAS SOLUÇÕES EM TECNOLOGIA LTDA ME
118413,2022,300655,9,2500.00,6.729494e+10,L - LOCAÇÃO DE BENS IMÓVEIS,MARIA INES SINISGALLI
118414,2022,300655,9,599.29,4.639213e+13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",SECRETARIA MUNICIPAL DA FAZENDA
118415,2022,300655,9,1836.13,6.106391e+13,"M - MANUTENÇÃO DE BENS MÓVEIS, IMÓVEIS, CONDO...",CONDOMINIO EDIF IBIRAPUERA PLAZA CENTER
118416,2022,300655,9,2835.90,2.491558e+12,O - LOCAÇÃO DE VEÍCULO,UNIDAS VEÍCULOS ESPECIAIS S.A.

In [ ]:
# pegando os dados da última legislatura
dfleg = df[(df.ano > 2018) & (df.ano < 2023)]
dfleg

In [ ]:
valores_estranhos = []
for i in range(len(df['cnpj'])):
  try:
    int(df['cnpj'].loc[i , 'cnpj'])
  except Exception:
    valores_estranhos.append(df['cnpj'].loc[i , 'cnpj'])
print(valores_estranhos)